.text-font {
  font-family: 'Playfair Display', serif;
}

.navbar-nav {
  display: flex;
  justify-content: space-between;
  width: 25%;
}

.navbar-nav .nav-item {
  margin-right: 20px; /* Adjust the margin value as needed */
}

.footer {
  text-align: center;
  padding: 10px;
}
