{% extends "base.html" %}

{% load filters %}

{% block content %}
    
<div class="container is-fluid">
    <!-- Champion Information -->
    {{ champion.champion}}

    <!-- Champion Lore -->
    <div class="champion-lore">
        <h2><strong>Lore</strong></h2>
        <p>{{ lore }}</p>
    </div>

    <!-- Party Type-->
    <div class="champion-party-type">
        <h2><strong>Party Type</strong></h2>
        <p>{{ partytype }}</p>
    </div>

    <!-- Spells -->
    <div class="champion-spells">
        <h2><strong>Spells</strong></h2>
        <p>{{ spells }}</p>
    </div>

    <!-- Stats -->
    <div class="champion-stats">
        <h2><strong>Stats</strong></h2>
        <p>{{ stats }}</p>
    </div>

    <!-- Tips -->
    <div class="champion-tips">
        {% if allytips and enemytips %}
        <h2><strong>Tips</strong></h2>
        <h3> Ally Tips</h3>
        <ul>
            {% for tip in allytips %}
                <li>{{ tip }}</li>
            {% endfor %}
        </ul>
        <h3> Enemy Tips</h3>
        <ul>
            {% for tip in enemytips %}
                <li>{{ tip }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>

    <!-- Skins -->
    <section class="section">
        <div class="champion-skins container">
            <h2><strong>Skins</strong></h2>
            <p>There are {{ skin_count }} skins</p>
            <div id="skin-carousel" class="carousel">
                {% for skin in skins %}
                <div class='item'>
                    {% if skin.0 == "default" %}
                        <h3>Original Skin</h3>
                    {% else %}
                        <h3>{{ skin.0 }}</h3>
                    {% endif %}
                    <img src="{{ skin.1 }}" alt="{{ skin.0 }}" />
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        bulmaCarousel.attach('#skin-carousel', {
            slidesToScroll: 1,
            slidesToShow: 1,
            initialSlide: 0,
            navigation: true,
            navigationKeys: true,
            pagination: true,
            loop: true,
            infinite: true,
            autoplay: true,
        })
    });
</script>

{% endblock %}

