{% extends "base.html" %}

{% load filters %}

{% block content %}
<!--Starter Items-->
<section class="section">
    <div class="container is-fluid">
        <h1 class="title"> Starter Items</h1>
        <div class="columns is-multiline">
            {% for item in starter_items %}
            <div class="column is-narrow has-text-centered">
                <a href="{% url 'item_detail' item %}">
                    <div class="card" title="{{ item_to_name|get_item:item|safe }}">
                        <div class="card-image">
                            <figure class="image is-64x64">
                                <img src="{{ images|get_item:item }}" alt="{{ item.name }}">
                            </figure>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!--Consumable Items-->
<section class="section">
    <div class="container is-fluid">
        <h1 class="title"> Consumable Items</h1>
        <div class="columns is-multiline">
            {% for item in consumable_items %}
            <div class="column is-narrow has-text-centered">
                <a href="{% url 'item_detail' item %}">
                    <div class="card" title="{{ item_to_name|get_item:item|safe }}">
                        <div class="card-image">
                            <figure class="image is-64x64">
                                <img src="{{ images|get_item:item }}" alt="{{ item.name }}">
                            </figure>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!--Distributed Items-->
<section class="section">
    <div class="container is-fluid">
        <h1 class="title"> Distributed Items</h1>
        <div class="columns is-multiline">
            {% for item in distributed_items %}
            <div class="column is-narrow has-text-centered">
                <a href="{% url 'item_detail' item %}">
                    <div class="card" title="{{ item_to_name|get_item:item|safe }}">
                        <div class="card-image">
                            <figure class="image is-64x64">
                                <img src="{{ images|get_item:item }}" alt="{{ item.name }}">
                            </figure>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!--Trinket Items-->
<section class="section">
    <div class="container is-fluid">
        <h1 class="title"> Trinket Items</h1>
        <div class="columns is-multiline">
            {% for item in trinket_items %}
            <div class="column is-narrow has-text-centered">
                <a href="{% url 'item_detail' item %}">
                    <div class="card" title="{{ item_to_name|get_item:item|safe }}">
                        <div class="card-image">
                            <figure class="image is-64x64">
                                <img src="{{ images|get_item:item }}" alt="{{ item.name }}">
                            </figure>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!--Boots Items-->
<section class="section">
    <div class="container is-fluid">
        <h1 class="title"> Boots Items</h1>
        <div class="columns is-multiline">
            {% for item in boots_items %}
            <div class="column is-narrow has-text-centered">
                <a href="{% url 'item_detail' item %}">
                    <div class="card" title="{{ item_to_name|get_item:item|safe }}">
                        <div class="card-image">
                            <figure class="image is-64x64">
                                <img src="{{ images|get_item:item }}" alt="{{ item.name }}">
                            </figure>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!--Basic Items-->
<section class="section">
    <div class="container is-fluid">
        <h1 class="title"> Basic Items</h1>
        <div class="columns is-multiline">
            {% for item in basic_items %}
            <div class="column is-narrow has-text-centered">
                <a href="{% url 'item_detail' item %}">
                    <div class="card" title="{{ item_to_name|get_item:item|safe }}">
                        <div class="card-image">
                            <figure class="image is-64x64">
                                <img src="{{ images|get_item:item }}" alt="{{ item.name }}">
                            </figure>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!--Epic Items-->
<section class="section">
    <div class="container is-fluid">
        <h1 class="title"> Epic Items</h1>
        <div class="columns is-multiline">
            {% for item in epic_items %}
            <div class="column is-narrow has-text-centered">
                <a href="{% url 'item_detail' item %}">
                    <div class="card" title="{{ item_to_name|get_item:item|safe }}">
                        <div class="card-image">
                            <figure class="image is-64x64">
                                <img src="{{ images|get_item:item }}" alt="{{ item.name }}">
                            </figure>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!--Legendary Items-->
<section class="section">
    <div class="container is-fluid">
        <h1 class="title">Legendary Items</h1>
        <div class="columns is-multiline">
            {% for item in legendary_items %}
            <div class="column is-narrow has-text-centered">
                <a href="{% url 'item_detail' item %}">
                    <div class="card" title="{{ item_to_name|get_item:item|safe }}">
                        <div class="card-image">
                            <figure class="image is-64x64">
                                <img src="{{ images|get_item:item }}" alt="{{ item.name }}">
                            </figure>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!--Ornn Upgrades Items-->
<section class="section">
    <div class="container is-fluid">
        <h1 class="title">Ornn's Item Upgrades</h1>
        <div class="columns is-multiline">
            {% for item in ornn_items %}
            <div class="column is-narrow has-text-centered">
                <a href="{% url 'item_detail' item %}">
                    <div class="card" title="{{ item_to_name|get_item:item|safe }}">
                        <div class="card-image">
                            <figure class="image is-64x64">
                                <img src="{{ images|get_item:item }}" alt="{{ item.name }}">
                            </figure>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!--Champion Exclusive Items-->
<section class="section">
    <div class="container is-fluid">
        <h1 class="title">Champion Exclusive Items</h1>
        <div class="columns is-multiline">
            {% for item in champion_exclusive_items %}
            <div class="column is-narrow has-text-centered">
                <a href="{% url 'item_detail' item %}">
                    <div class="card" title="{{ item_to_name|get_item:item|safe }}">
                        <div class="card-image">
                            <figure class="image is-64x64">
                                <img src="{{ images|get_item:item }}" alt="{{ item.name }}">
                            </figure>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!--Minion and Turret Items-->
<section class="section">
    <div class="container is-fluid">
        <h1 class="title">Minion and Turret Items</h1>
        <div class="columns is-multiline">
            {% for item in minion_and_turret_items %}
            <div class="column is-narrow has-text-centered">
                <a href="{% url 'item_detail' item %}">
                    <div class="card" title="{{ item_to_name|get_item:item|safe }}">
                        <div class="card-image">
                            <figure class="image is-64x64">
                                <img src="{{ images|get_item:item }}" alt="{{ item.name }}">
                            </figure>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
