{% extends "base.html" %}
{% block content %}
<h1 class="title">Updates</h1>
{% if messages %}
    {% for message in messages %}
        <div class="notification is-success">
            {{ message }}
        </div>
    {% endfor %}
{% elif error_message %}
    <div class="notification is-danger">
        {{ error_message }}
    </div>
{% endif %}
<form method="post">
    {% csrf_token %}
    <div class="field">
        <label class="label">API Key Update</label>
        <div class="control">
            <input class="input" type="text" name="api_key" value="{{ api_key }}">
        </div>
        <label class="label">
            <input type="checkbox" name="champion_data" value="true">
            Champion Data Update</label>
        <label class="label">
            <input type="checkbox" name="item_data" value="true">
            Item Data Update</label>
    </div>
    <div class="field">
        <div class="control">
            <button class="button is-link">Update</button>
        </div>
    </div>
</form>
{% endblock %}
