<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOL Helper</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-carousel@4.0.3/dist/css/bulma-carousel.min.css">
    <script src="https://kit.fontawesome.com/8ae1e5da46.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns"></script>
    <link rel="shortcut icon" href="{% static 'favicon/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a href="{% url 'index' %}" class="navbar-item">
                    <img src="{% static 'favicon/favicon.ico' %}" width="28" height="28">
                    <span class="ml-2">LOL Helper</span>
                </a>
                <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>
            <div class="navbar-menu" id="navMenu">
                <div class="navbar-start">
                    <a href="{% url 'index' %}" class="navbar-item">Home</a>
                    <a href="{% url 'champions' %}" class="navbar-item">Champions</a>
                    <a href="{% url 'items' %}" class="navbar-item">Items</a>
                    <a href="" class="navbar-item">Spells</a>
                    <a href="" class="navbar-item">Runes</a>
                </div>
            </div>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer class="footer">
        <div class="content has-text-centered">
            <p><strong>LOL Helper</strong> by <a href="https://silencepaul.github.io/Projects/">Yiming Liu</a>.</p>
            <p>&copy; 2023 LOL Helper. All rights reserved.</p>
        </div>
    </footer>
    <script src="{% static 'js/nav_bar_toggle.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bulma-carousel@4.0.3/dist/js/bulma-carousel.min.js"></script>
</body>
</html>
