{% extends "base.html" %}

{% load filters %}

{% block content %}
    
<div class="container is-fluid">
    <div class="columns is-multiline">
    {% for champion in champions %}
    <div class="column is-2">
        <a href="{% url 'champion_detail' champion.search_name %}">
            <div class="card">
                <div class="card-image is-128x128">
                    <figure class="image">
                        <img src="{{ images|get_item:champion.search_name }}"
                            style="height:auto; width:auto;">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="media">
                        <div class="media-content">
                            <p class="title is-4">{{ champion.name }}</p>
                            <p class="subtitle is-6">{{ champion.title|capitalize_first_letter }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    {% endfor %}
    </div>
</div>
{% endblock %}

